.split-pane {
  --side-min-width: 330px;
}
.left-menu {
  --side-max-width: 370px;
  --width: 350px;
}
ion-content {
  &.note-area {
    min-width: 320px;
    width: 100%;
    &::part(scroll) {
      display: flex;
      flex-direction: column;
    }
  }
}
