<ion-split-pane contentId="menu-content" when="lg" class="split-pane">
  <ion-menu
    contentId="menu-content"
    menuId="menu-content"
    side="start"
    class="left-menu"
    type="overlay"
  >
    <ion-header>
      <ion-toolbar>
        <ion-title>onSplitPaneVisible</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button menu="menu-content"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <h2>pages</h2>
      <nd-note-page-cards (editPage)="onPageEdit(page)"></nd-note-page-cards>
    </ion-content>
  </ion-menu>
  <ion-menu contentId="menu-content" menuId="menu-content2" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>Info</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card>
        <ion-note>30 characters</ion-note>
        <ion-note>20 words</ion-note>
      </ion-card>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content">
    <ion-content fullscreen="true" class="note-area">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button mode="md" menu="menu-content"></ion-menu-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-menu-button mode="md" menu="menu-content2"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="flex flex-col flex-1 h-full">
        <nd-note-title-input
          [title]="noteToEdit?.title"
          [noteId]="noteToEdit?.id"
        ></nd-note-title-input>
        <nd-note-content-input
          [content]="pageToEdit?.content"
          [noteId]="activeNoteId"
          [notePageId]="pageToEdit?.id"
          class="flex-grow h-full"
        ></nd-note-content-input>
      </div>
    </ion-content>
  </ion-router-outlet>
</ion-split-pane>
