<ion-split-pane contentId="menu-content" when="md" class="split-pane">
  <!-- <ion-menu
    contentId="menu-content"
    menuId="menu-content"
    side="start"
    class="left-menu"
    type="overlay"
  >
    <ion-header>
      <ion-toolbar>
        <ion-title>Pages </ion-title>

         <ion-back-button></ion-back-button> 
      </ion-toolbar>
    </ion-header>
    <ion-content>
       <h2 class="text-center mt-4 mb-2 uppercase text-slate-400">pages</h2>
      <nd-note-page-cards
        (editPage)="onPageEdit($event)"
        (newPage)="onPageAdd($event)"
        [pages]="pages"
      ></nd-note-page-cards>
    </ion-content>
  </ion-menu> -->
  <ion-menu contentId="menu-content" menuId="menu-content2" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span class="flex items-center">
            <ion-icon
              slot="start"
              name="alert-circle"
              ios="alert-circle-outline"
              class="mr-3"
            ></ion-icon>
            Info
          </span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="p-5 max-sm:p-4 h-full dark:bg-slate-800">
        <ul class="list-none py-4 mt-4 px-1 shadow-sm rounded-sm">
          <li class="flex items-center mb-2 text-sm">
            <span class="text-gray-400 flex items-center">
              <ion-icon ios="time-outline" name="time" class="mr-1"></ion-icon>
              Last updated:
            </span>
            <span class="text-current ml-2">
              {{noteToEdit?.updated_at|date:'short'}}
            </span>
          </li>

          <li class="flex items-center mb-2 text-sm">
            <span class="text-gray-400 flex items-center">
              <ion-icon name="time" ios="time-outline" class="mr-1"></ion-icon>
              Created on:
            </span>
            <span class="text-current ml-2">
              {{noteToEdit?.created_at|date:'short'}}
            </span>
          </li>
          <li class="flex items-center mb-2 text-sm">
            <span class="text-gray-400 flex items-center">
              <ion-icon
                name="document-text"
                ios="document-text-outline"
                class="mr-1"
              ></ion-icon>
              Characters:
            </span>
            <span class="text-current ml-2">
              {{contents|wordCharacterCounter:false}}
            </span>
          </li>

          <li class="flex items-center mb-2 text-sm">
            <span class="text-gray-400 flex items-center">
              <ion-icon
                name="newspaper"
                ios="newspaper-outline"
                class="mr-1"
              ></ion-icon>
              Words:
            </span>
            <span class="text-current ml-2">
              {{contents|wordCharacterCounter}}
            </span>
          </li>
          <li class="flex items-center mb-2 mt-2 text-sm" *ngIf="noteToEdit?.category" >
            <span class="text-gray-400 flex items-center">
              <ion-icon
                name="newspaper"
                ios="newspaper-outline"
                class="mr-1"
              ></ion-icon>
              Category:
            </span>
            <span class="text-current ml-2">
              {{noteToEdit?.category}}
            </span>
          </li>
          <li class="flex items-center mb-2 text-sm" *ngIf="noteToEdit?.tags">
            <span class="text-gray-400 flex items-center">
              <ion-icon
                name="newspaper"
                ios="newspaper-outline"
                class="mr-1"
              ></ion-icon>
              Tags:
            </span>
            <span class="text-current ml-2 rounded-sm p-1 px-2 text-xs bg-orange-200 text-gray-500 " *ngFor="let tag of noteToEdit.tags">
      {{tag}}
            </span>
          </li>
        </ul>
        <!-- <h2 class="capitalize text-lg text-gray-400 mt-4 mb-2">Current Page</h2>
        <ul class="list-none pb-4 pt-2 mt-2 px-1 shadow-sm rounded-sm">
          <li class="flex items-center mb-2 text-sm">
            <span class="text-gray-400 flex items-center">
              <ion-icon
                name="document-text"
                ios="document-text-outline"
                class="mr-1"
              ></ion-icon>
              Characters:
            </span>
            <span class="text-current ml-2">
              {{pageToEdit?.content|wordCharacterCounter:false}}
            </span>
          </li>

          <li class="flex items-center mb-2 text-sm">
            <span class="text-gray-400 flex items-center">
              <ion-icon
                name="newspaper"
                ios="newspaper-outline"
                class="mr-1"
              ></ion-icon>
              Words:
            </span>
            <span class="text-current ml-2">
              {{pageToEdit?.content|wordCharacterCounter}}
            </span>
          </li>
        </ul> -->
      </div>
    </ion-content>
  </ion-menu>

  <!--  main content -->
  <ion-router-outlet id="menu-content">
    <ion-content fullscreen="true" class="note-area">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button> </ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-menu-button mode="md" menu="menu-content">
              <ion-icon name="book" ios="book-outline"></ion-icon>
            </ion-menu-button>

            <ion-menu-button mode="md" menu="menu-content2">
              <ion-icon
                name="alert-circle"
                ios="alert-circle-outline"
              ></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <div class="flex flex-col flex-1 h-full">
        <nd-note-title-input
          [title]="noteToEdit?.title"
          [noteId]="noteToEdit?.id"
        ></nd-note-title-input>
        <nd-note-content-input
          [content]="noteToEdit?.content"
          [noteId]="activeNoteId"
         
          class="flex-grow h-full"
        ></nd-note-content-input>
      </div>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="showModalOrPopover($event,noteToEdit)">
              <ion-icon
                slot="icon-only"
                name="ellipsis-vertical"
                ios="ellipsis-vertical-outline"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ion-content>
  </ion-router-outlet>
</ion-split-pane>
