<div
  tabindex="1"
  class="max-w-full p-4 w-80 cursor-pointer active:bg-slate-50 h-56 text-center shadow-md bg-fuchsia-200 rounded-lg overflow-hidden text-ellipsis active-card hover:border-4 border-4 border-opacity-0 transition-all hover:border-cyan-700 dark:text-black"
>
  <button class="button outline-none border-none p-2 bg-orange-600 text-white">
    <ion-icon name="edit"></ion-icon>
  </button>
  <h2 class="text-xl mb-2 font-semibold">Lorem ipsum dolor sit,</h2>
  <p class="max-h-20 overflow-ellipsis overflow-hidden bg-slate-500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda obcaecati
    eveniet atque quas ut ipsam officia similique quam voluptas ullam!
  </p>
</div>
