.note-card {
  --orange-rgb: 249 115 22;
  --orange: #f97316;
  border-radius: 8px;
  &.active-card {
    border-bottom: 4px solid var(--orange);
    &:hover {
      .note-card-overlay {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  &:hover {
    .note-card-overlay {
      opacity: 1;
    }
  }
  .note-card-overlay {
    border-radius: inherit;
    border-color: var(--orange);
    opacity: 0;
    pointer-events: auto;
    transition: opacity 0.4s ease-in-out;
   
  }
}

.note-tags-wrapper {
  display: flex;
  gap: 0.25rem;
  .note-tag {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
  }
}

