<ion-header>
  <ion-toolbar>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper max-w-lg m-auto py-4">
    <ion-segment value="notes" (ionChange)="segmentChanged($event)" mode="ios">
      <ion-segment-button value="notes">
        <ion-label>Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="todos">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <nd-note-cards
    [canNavigate]="true"
    (edit)="onEditNote($event)"
  ></nd-note-cards>

  <div class="fab-container fixed bottom-4 right-4">
    <button
      class="ion-activatable text-gray-100 relative button overflow-hidden cursor-pointer font-bold text-lg capitalize rounded-full px-4 py-3 outline-none border-none bg-orange-500 flex items-center shadow-lg"
      title="Add a New Note"
    >
      <ion-icon class="mr-2 font-bold" size="large" name="add"></ion-icon>
      new note
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
</ion-content>
