/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Montserrat", sans-serif;
}
.card {
  --orange-rgb: 249 115 22;
  --orange: #f97316;
  border-radius: 8px;
  transition: 0.5s ease-in-out;
  &.active-card {
    border-left: 4px solid var(--orange);
    ion-ripple-effect {
      visibility: hidden;
      transition: visibility 0.5s ease-out;
    }
    &:hover {
      .card-overlay {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  &:hover {
    .card-overlay {
      opacity: 1;
    }
  }
  .card-overlay {
    border-radius: inherit;
    border-color: var(--orange);
    opacity: 0;
    pointer-events: auto;
    transition: opacity 0.7s ease-in-out;
  }
}
.edit-button {
  background-color: var(--orange);
  font-size: 1.125rem;

  padding: 0.375rem 0.875rem;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-top-right-radius: 15px;
  }
  &::before {
    left: -14px;
    top: -2px;
    box-shadow: 6px 0px 0 var(--orange);
  }
  &::after {
    right: -2px;
    bottom: -14px;
    box-shadow: 0px -6px 0 var(--orange);
  }
}

.action-button-wrapper {
  --width: auto !important;
}
